# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp

# Dossier figures (si trop lourd)
# figures_memoire/

# Données brutes (garde seulement les .pkl)
# *.xlsx
# *.csv